<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
</head>
<body>

    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script> 
    <!--Local Javascript files-->
    <script src="../javascripts/dashboard.js"></script>
    <script src="../javascripts/websocket.js"></script>

    <!--
        RETOMAR EN MINUTO 12:42
        https://www.youtube.com/watch?v=Ppz2UNlHp0g

    -->

    <!--NavBar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <button class="navbar-toggler sideMenuToggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="Logo.jpg" alt="Imagen del Logo" class="center-block img-responsive"/>
            <!--<a class="navbar-brand" href="#">Navbar</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
              
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Cerrar Sesión</a>
                      </div>
                    </li>
                </ul>  
            </div>
        </nav>
    <!--End of NavBar-->

    <!--Side Menu-->
    <div class="wrapper d-flex">
        <div class="sideMenu bg-mattBlackLight">
            <div class="sidebar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#dashboard" class="nav-link px-2">
                            <i class="material-icons icon">
                                home
                            </i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#batch" class="nav-link px-2">
                            <i class="material-icons icon">
                                local_shipping
                            </i>
                            <span class="text">Batch</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2 sideMenuToggler">
                            <i class="material-icons icon">
                                view_list
                            </i>
                            <span class="text">Resize</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2">
                            <i class="material-icons icon">
                                settings
                            </i>
                            <span class="text">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--End of Side Menu-->


        <section class="content">
            <!--Start of Batch-->
            <div id="batch" class="page">
                <main>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus doloremque obcaecati fugit cupiditate magnam illum laudantium sit ea libero ut eos at, necessitatibus tenetur modi ipsum minus iure quae delectus optio quos magni reiciendis iste. Maiores quisquam beatae, saepe quas, eum ratione deserunt alias quos unde odit numquam eaque repudiandae?</div>
                            <div class="col-md-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui deserunt corporis adipisci beatae cumque odit iure placeat libero dignissimos nesciunt illo suscipit perspiciatis veniam nisi, excepturi reiciendis nulla reprehenderit tenetur, ipsum nemo commodi temporibus. Nulla vero neque consectetur ea ducimus?</div>
                        </div>
                    </div>
                </main>
            </div>
            <!--End of batch-->
        <!--</section>

        <section class="content-dashboard">-->
            <!--Start of Dashboard-->
            <div id="dashboard" class="page default">
                <main>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 my-3">
                                <div class="bg-mattBlackLight p-3">
                                    <h4 class="mb-2">
                                        Beer Batch
                                    </h4>
                                    <p id="batchContainer">N/A</p>
                                </div>
                            </div>
                            <div class="col-md-3 my-3">
                                <div class="bg-mattBlackLight p-3">
                                    <h4 class="mb-2">
                                        Time Running
                                    </h4>
                                    <p id="timeContainer">N/A</p>
                                </div>
                            </div>
                            <div class="col-md-3 my-3">
                                <div class="bg-mattBlackLight p-3">
                                    <h4 class="mb-2">
                                        Dummy
                                    </h4>
                                    <p></p>
                                </div>
                            </div>
                            <div class="col-md-3 my-3">
                                <div class="bg-mattBlackLight p-3">
                                    <h4 class="mb-2">
                                        Dummy
                                    </h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-md-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus doloremque obcaecati fugit cupiditate magnam illum laudantium sit ea libero ut eos at, necessitatibus tenetur modi ipsum minus iure quae delectus optio quos magni reiciendis iste. Maiores quisquam beatae, saepe quas, eum ratione deserunt alias quos unde odit numquam eaque repudiandae?</div>
                            <div class="col-md-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui deserunt corporis adipisci beatae cumque odit iure placeat libero dignissimos nesciunt illo suscipit perspiciatis veniam nisi, excepturi reiciendis nulla reprehenderit tenetur, ipsum nemo commodi temporibus. Nulla vero neque consectetur ea ducimus?</div>
                        </div>
                        -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row my-3">
                                    <div class="col-md-12">
                                        <div class="bg-mattBlackLight p-3">
                                            <h4 class="mb-2">
                                                Dummy
                                            </h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col-md-12">
                                        <div class="bg-mattBlackLight p-3">
                                            <h4 class="mb-2">
                                                Dummy
                                            </h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col-md-12">
                                        <div class="bg-mattBlackLight p-3">
                                            <h4 class="mb-2">
                                                Dummy
                                            </h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col-md-12">
                                        <div class="bg-mattBlackLight p-3">
                                            <h4 class="mb-2">
                                                Dummy
                                            </h4>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-12 my-3">
                                    <div class="bg-mattBlackLight p-3">
                                        <h4 class="mb-2">
                                            Log Dummy
                                        </h4>
                                        <table class="table table-striped table-bordered table-dark">
                                            <thead>
                                                <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">First</th>
                                                <th scope="col">Last</th>
                                                <th scope="col">Handle</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                                </tr>
                                                <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                                </tr>
                                                <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@twitter</td>
                                                </tr>
                                                <tr>
                                                <th scope="row">4</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@twitter</td>
                                                </tr>
                                                <tr>
                                            </tbody>
                                        </table> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <!--End of Dashboard-->
        </section>

    </div>

</body>
</html>